---
import '../styles/global.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
const description = "shigeの個人ブログサイト";
---

<!DOCTYPE html>
<html lang="ja" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="shige's blog" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:site" content="@sh1ge99" />
    <meta property="twitter:creator" content="@sh1ge99" />
  </head>
  <body class="bg-white text-gray-900 antialiased">
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>